.new-deals {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.deals {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    justify-items: stretch;
    gap: 50px;
}

.new-deals h1 {
    color: #171717;
    font: 50px;
    font-weight: 600;
}

.new-deals hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
