@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');

.product_container img {
    width: 70%;
}

.product_container h2 {
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;

}

.product_container h4 {
    font-size: 0.85rem;
    margin-top: 0.5rem;
    letter-spacing: 2px;
    font-family: 'Barlow', sans-serif;
}

.product_container {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
}

.product__title {
    margin-top: 5%;
    position: relative;
    text-align: center;
    font-size: 4rem;
}

.card_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card_main .btn {
    font-weight: bold;
    font-size: 0.9rem;
}

@media screen and (max-width:1411px) {
    .card_main h2 {
        font-size: 0.75rem ;
    }
}

@media screen and (max-width:1285px) {
    .card_main h2{
        font-size: 0.6rem ;
    }
}


